{% extends "users/profile.html" %}

{% block body %}
{{ block.super }}

<div class="container pt-5">
    <h2>HPC account management</h2>
        <h3>First time setup</h3>
        <p>To enable key-based ssh access to your account from the eScriptorium server, follow
            the below three steps. (This is a one-time process.)</p>
        <ol>
            <li>Ensure that you are either on-campus connected to the University wifi or
                that you are connected to the Princeton network through the VPN 
                <a href="https://informationsecurity.princeton.edu/connecting-to-princeton-n">like so</a>.</li>
            <li>Open Terminal or Command Line on your computer, 
                paste in the below code, and press enter. You will be prompted for your NetID password.<br>
                <code>ssh {{ request.user.username }}@della.princeton.edu 'mkdir -p ~/.ssh &amp;&amp; echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJzoR8jstrofzFKVoiXSFP5jGw/WbXHxFyIaS5b4vSWC test-htr.lib.princeton.edu" >> ~/.ssh/authorized_keys'</code>
            </li>

            <li>Click the "HPC setup" button below for initial environment setup. This step may take
                a few minutes to complete -- a notification should appear when it has finished.
                After this, your account will be prepared to run training tasks on Princeton's HPC.
                <br>
                <form method="post" action="{% url 'hpc-setup' %}" onsubmit="hideButton(event)">
                    {% csrf_token %}
                    <input id="setup-button" type="submit" value="HPC setup" class="btn btn-success">
                    <span id="setup-message" style="display: none;">Submitted! Please wait for the setup to complete.
                        You can monitor the HPC setup task in the <a href="/quotas">task reports list</a>.
                    </span>
                </form>
            </li>
        </ol>
    <h3>HPC account updates</h3>
    <p>This instance of eScriptorium is currently being tested and occasional updates might be necessary. 
        When prompted to update your HPC account, simply click the "HPC setup" button above to automatically 
        run the update process.</p>
</div>

<script>
    function hideButton(event) {
        document.getElementById("setup-button").style.display = "none";
        document.getElementById("setup-message").style.display = "inline";
    }
</script>

{% endblock %}
